
text {
  cursor: default;
}

.ttm_div_drawarea {
  width: 100%;
  height: 100%;
}
/* outer layers*/
.ttm_div_layer {
  position: relative;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version*/
}

.ttm_div_title {
  width: 100%;
  /* min-height: 15px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.ttm_div_title_span {
  flex-grow: 0;
  margin-left: 3px;
}
/* expand button */
.tmm_expand_btn_expand {
  flex-grow: 2;
  width: 20px;
  height: 12px;
  margin-right: 3px;
  background-repeat: no-repeat;
  background-position-x: 100%;
  display: none !important;
}
/*.tmm_expand_btn_expand_plus_0 {
  //background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABOSURBVCiRY2RgYPgPxcQARgYGBoZ/WCRcoBgd/GPCYZI1FGMAXBpwApI1sEBpFzQnOGBRe5QsGxgYsIdSPRRjqKWfp9HBUVwaGBlITBoAe2kMUtAQtPwAAAAASUVORK5CYII='); 
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABaSURBVCiRvZIxDsAgDAOdil916cC/eB3f4jqUoYJEgg61lMWyEyeKAUhCazABbWSBDGSHb0fQ6ew1ITKE2DYk6ck8RLg6/9bWTxOiKxWgeNqflnZQI4PtvsYN1b8wLhXrALgAAAAASUVORK5CYII=');
}*/
/*.tmm_expand_btn_expand_minus_0 {
  // background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAA/SURBVCiR1dIxCsAwDEPR59Jbdc3Ve620i/fYhQ4RCC1fGIwCT7qigFmEYR4NGPxfODMHrgV7f7rA/l8KzWm8MhQJTzhI3SsAAAAASUVORK5CYII='); 
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAA+SURBVCiR3ZKxDQAhEMN86LeiZXXWwlTUHEg079pRpCihCkiOQB1JGXWUrLx4H/gA1AbUjduvGv6wUpxeYwK1Gh46mh675AAAAABJRU5ErkJggg==');
}*/
/*.tmm_expand_btn_expand_plus_1,
.tmm_expand_btn_expand_plus_2,
.tmm_expand_btn_expand_plus_3,
.tmm_expand_btn_expand_plus_4,
.tmm_expand_btn_expand_plus_5,
.tmm_expand_btn_expand_plus_6,
.tmm_expand_btn_expand_plus_7
{
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABaSURBVCiRvZIxDsAgDAOdil916cC/eB3f4jqUoYJEgg61lMWyEyeKAUhCazABbWSBDGSHb0fQ6ew1ITKE2DYk6ck8RLg6/9bWTxOiKxWgeNqflnZQI4PtvsYN1b8wLhXrALgAAAAASUVORK5CYII=');
  display: none !important;
}
.tmm_expand_btn_expand_minus_1,
.tmm_expand_btn_expand_minus_2,
.tmm_expand_btn_expand_minus_3,
.tmm_expand_btn_expand_minus_4,
.tmm_expand_btn_expand_minus_5,
.tmm_expand_btn_expand_minus_6,
.tmm_expand_btn_expand_minus_7
{
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAA+SURBVCiR3ZKxDQAhEMN86LeiZXXWwlTUHEg079pRpCihCkiOQB1JGXWUrLx4H/gA1AbUjduvGv6wUpxeYwK1Gh46mh675AAAAABJRU5ErkJggg==');
  display: none !important;
}*/

/* title layers*/
.ttm_div_layer_title {
  position: relative;
}

/* inner layers*/
.ttm_div_layer_inner {
  cursor: pointer;
} 

.innerTitleText {
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  text-align: center;
}
.innerTitleText_last {
  color: black;
}
.vertcalTitleText {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.ttm_div_layer_0, .ttm_div_layer_inner_0 {
  height: 100%;
  /* background-color: #ffffff; */
  background-color: rgba(0, 0, 0, 1);
}

.ttm_div_layer_1, .ttm_div_layer_inner_1 {
  background-color: rgb(62, 2, 2);
  /* -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.75); */
}

.ttm_div_layer_2, .ttm_div_layer_inner_2 {
  background-color: rgb(90, 7, 7);
}

.ttm_div_layer_3, .ttm_div_layer_inner_3 {
  background-color: rgb(119, 9, 9);
}

.ttm_div_layer_4, .ttm_div_layer_inner_4 {
  background-color: rgb(158, 13, 13);
}

.ttm_div_layer_5, .ttm_div_layer_inner_5 {
  background-color: rgb(187, 15, 15);
}

.ttm_div_layer_6, .ttm_div_layer_inner_6 {
  background-color: rgb(209, 17, 17);
}

.ttm_div_layer_7, .ttm_div_layer_inner_7 {
  background-color: rgb(140, 51, 54);
}

.ttm_div_layer_inner_last {
  cursor: pointer;
  /* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAfCAYAAAD5h919AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAD+SURBVEiJ3dexSsNQFAbg/5SKpHkGfQIfwzEnY16la3Fy8hFE5wwKJ0PnUtBHKHQsXbp0UAyC5HcKBMlt4i1N4f7bPZecb/m5EDEzYogMAZkZR6dG6oQHjduGZvYMIPLc+a6qD70gAK8kL3wUEdm0zVshVX3xQQ4lvDKcr3UkpSiKK9+FIvKRJMm+E8rzPI6iaOkLkXwEMOuEsiz7BHDtC7kSXhnCg1yP6sJ11xWS8zRN73pBAKYiIj5QVVW7trnrUX3zQQ4lvDKcvXVPAG4aowmAyz/f3arq+igIwL2IxI3zF4Dv+kDypyzLbV/ECanq6j9L+iS8MgwGyVB/E78WyUgP2YBqcAAAAABJRU5ErkJggg=='); */
  background-repeat: no-repeat;
  background-position: center;
}

/* text */
.ttm_div_title {
  font-size: 1em;
}

.ttm_div_title_0 {
  color: #fff;
  font-size: 1em;
}

.ttm_div_title_1 {
  color: #fff;
  font-size: 0.9em;
}

.ttm_div_title_2 {
  color: #fff;
  font-size: 0.8em;
}

.ttm_div_title_3 {
  color: #fff;
  font-size: 0.7em;
}

.ttm_div_title_4 {
  color: #fff;
  font-size: 0.65em;
}

.ttm_div_title_5 {
  color: #fff;
  font-size: 0.75em;
}

.ttm_div_title_6 {
  color: #fff;
  font-size: 0.75em;
}

.ttm_div_title_7 {
  color: #fff;
  font-size: 0.75em;
}

#tmm_tooltip {
  background-color: yellow;
}
