
text {
  cursor: default;
}
/* outer layers*/
.ttm_svg_layer {
  /*stroke: white;*/
}

.ttm_svg_layer_0 {
  fill: #fff;
}

.ttm_svg_layer_1 {
  fill: #b3b3b3;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.75);
}

.ttm_svg_layer_2 {
  fill: #8c3336;
}

.ttm_svg_layer_3 {
  fill: #592122;
}

.ttm_svg_layer_4 {
  fill: #301212;
}

.ttm_svg_layer_5 {
  fill: #370909;
}

.ttm_svg_layer_6 {
  fill: #2F0A0A;
}

.ttm_svg_layer_7 {
  fill: #3E0202;
}

/* inner layers*/
.ttm_svg_layer_inner {
  cursor: pointer;
}


.ttm_svg_layer_inner_0 {
  fill:#b3b3b3;
  -webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.75);
}

.ttm_svg_layer_inner_1 {
  fill: #8c3336;
  -webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.75);
}

.ttm_svg_layer_inner_2 {
  fill: #592122;
  -webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.75);
}

.ttm_svg_layer_inner_3 {
  fill: #301212;
}

.ttm_svg_layer_inner_4 {
  fill: #000;
}

.ttm_svg_layer_inner_5 {
  fill: #000;
}

.ttm_svg_layer_inner_last {
  cursor: pointer;
  fill: Url('http://lorempixel.com/animals/120/250/');
}

/* text */
.ttm_svg_title {
  font-size: 1em;
}

.ttm_svg_title_0 {
  fill: #444;
  font-size: 1.15em;
}

.ttm_svg_title_1 {
  fill: #252525;
  font-size: 1em;
}

.ttm_svg_title_2 {
  fill: #fff;
  font-size: 0.9em;
}

.ttm_svg_title_3 {
  fill: #fff;
  font-size: 0.8em;
}

.ttm_svg_title_4 {
  fill: #fff;
  font-size: 0.75em;
}

.ttm_svg_title_5 {
  fill: #fff;
  font-size: 0.75em;
}

.ttm_svg_title_6 {
  fill: #fff;
  font-size: 0.75em;
}

.ttm_svg_title_7 {
  fill: #fff;
  font-size: 0.75em;
}

#tmm_tooltip {
  fill: yellow;
}

/* expand button */
.tmm_expand_btn_expand {
  stroke: black;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1.5;
}

.tmm_expand_btn_expand_0 {
  stroke: black;
  display: none;
}
/*.1 2 3 4.*/

.tmm_expand_btn_circle {
  stroke: black;
  stroke-width: 1.5;
  fill-opacity: 0;
  cursor: pointer; 
}

.tmm_expand_btn_circle_0 {
  stroke: black;
}
/*.1 2 3 4.*/